
@keyframes pulseSlow {
  0%, 100% { transform: scale(1); opacity: 0.2; }
  50% { transform: scale(1.2); opacity: 0.4; }
}

.animate-pulse-slow {
  animation: pulseSlow 8s ease-in-out infinite;
}

.card {
  padding: 2rem;
  border-radius: 1rem;
  background-color: #2a2a2a;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(255, 123, 0, 0.3);
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #ff7b00aa);
}
