
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 1s ease-out forwards;
}

.animate-fade-in.delay-150 {
  animation-delay: 0.15s;
}
.animate-fade-in.delay-300 {
  animation-delay: 0.3s;
}

.animate-fade-in:nth-child(1) {
   animation-delay: 0.1s; 
  }
.animate-fade-in:nth-child(2) { 
  animation-delay: 0.2s; 
}
.animate-fade-in:nth-child(3) { 
  animation-delay: 0.3s; 
}
.animate-fade-in:nth-child(4) { 
  animation-delay: 0.4s; 
}


@keyframes floaty {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

